@import "tailwindcss";

@theme inline {
  --color-background: #fdfdfd;
  --color-primary: #2ecc71;
  --color-secondary: #02471f;
  --color-darkText: #1d1d1d;
  --color-whiteText: #ffffff;
  --color-grayText: #686868;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: #fdfdfd;
  color: #000000;
}